:root {
    --primary-color: #218608;
    --secondary-color: #0ea753;
    --background-color: #121212;
    --text-color: #ffffff;
    --card-background: #1e1e1e;
    --card-bg: #1e1e1e;
    --input-bg: #2c2c2c;
    --input-text: #ffffff;
    --button-hover: #04ff9f;
  }